<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.plexapp.plexmediaserver</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Plex Media Server.app/Contents/MacOS/Plex Media Server</string>
	</array>
</dict>
</plist>
